<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Bem-vindo a Eventos Style's</h1>
<p>Cadastre seu evento conosco e tenha excelentes momentos!!!!<p>
<form action="/cadastrar" method="post">
    <label>Nome: </label>
    <input type="text" name="nome"><br>

    <select nome="Tipo">
        <option value="humor">Humor</option>
        <option value="drama">Drama</option>
        <option value="musical">Musical</option>
        <option value="teatro">Teatro</option>
    </select>

    <label>Descrição: </label>
    <textarea name="descricao" id="" cols="30" rows="10"></textarea>

    <label>Tipo: </label>
    <input type="text" name="tipo">

    <label>Data: </label>
    <input type="datetime-local" name="data">

    <label>Hora Início: </label>
    <input name="time" type="horaInicio">

    <label>Hora Fim: </label>
    <input name="time" type="horaFim">

    <label>Rua: </label>
    <input type="text" name="rua">

    <label>Estado: </label>
    <input type="text" name="estado">

    <label>País: </label>
    <input type="text" name="pais">

    <label>Bairro: </label>
    <input type="text" name="bairro">

    <label>Número: </label>
    <input type="text" name="numero">

    <button>Cadastrar</button>

</body>
</html>